body 	{
	background: none;
}

#gameover {
	width: 100%;
	height: 100%;
	opacity: 0;
	background: maroon;
	text-align: center;
	vertical-align: middle;
}

#snake {
	width: 50px;
	height: 50px;
	background: black;
	position: absolute;
	top: 50px;
	left: 50px;
	border-radius: 25%;
}

#board {
	width: 500px;
	height: 500px;
	background: green;
	position: absolute;

}

.pellet {
	width: 50px;
	height: 50px;
	background: red;
	position: absolute;
	border-radius: 100%;
}

.tail {
	width: 50px;
	height: 50px;
	background: gray;
	position: absolute;
	border-radius: 50%;
}

a {
	position: absolute;
	top: 101%;
}