#snake {
	width: 20px;
	height: 20px;
	background: black;
	position: absolute;
	top: 20px;
	left: 20px;
}

#board {
	width: 400px;
	height: 400px;
	background: green;
	position: absolute;

}

.pellet {
	width: 20px;
	height: 20px;
	background: red;
	position: absolute;
	border-radius: 100%;
}

.tail {
	width: 20px;
	height: 20px;
	background: gray;
	position: absolute;
}