#snake {
	width: 50px;
	height: 50px;
	background: black;
	position: absolute;
	top: 0;
	left: 0;
}

.pellet {
	width: 50px;
	height: 50px;
	display: intial;
	background: red;
	position: absolute;
	top: 0;
	left: 0;
}